body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
}

h1 {
    font-size: 20;
    color: rgb(109, 3, 109);
    text-align: center;
    z-index: 10;
}

li {
    list-style: none;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#scorebox {
    z-index: 10;
}

#background {
    height: 120vh;
    width: 100vw;
    position: absolute;
}

#canvas {
    background: white;
    border: 5px solid darkslateblue;
    display: float;
    z-index: 10;
    opacity: 0.8;
    margin: 10px;
}