body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
}

h1 {
    padding: 10px;
    margin-top: 40px;
    font-size: 60px;
    color: rgb(109, 3, 109);
    text-align: center;
    z-index: 10;
    font-weight: 800;
}

li {
    list-style: none;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    max-height: 20px;
    align-items: center;
    z-index: 10;

}

#scorebox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    z-index: 10;

}

#scoremarker {
    padding: 10px;
    font-size: 30px;
    color: rgb(109, 3, 109);
    z-index: 10;
}

#background {
    height: 120vh;
    width: 100vw;
    position: absolute;
}

#canvas {
    border: 5px solid darkslateblue;
    display: float;
    z-index: 10;
    opacity: 0.8;
    margin: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#github-logo,
#linkedin-logo {
    max-width: 4rem;
    max-height: 4rem;
    border: none;
}